# Title - Tools for data science assignment

## Introduction

This notebook provides answers to the exercsises and covers essential topic covered in the course.

## List of data science language

- Python
- SQL
- R
- Julia
- Scala
- C++
- Java

## List of data science Libraries

- NumPy
- TensorFlow
- Scikit-learn
- Matplotlib
- Pandas

## List of data science tools

|Tool | Description |
|----- |-------------|
| MySQL| Data management | 
| PostgreSQL | Data management | 
| MongoDB | Data management |  
| Apache CouchDB| Data management |  
| Apache Cassandra  | Data management |  
| Hadoop File system | Data management |  
| Ceph| Data management |  
| Elastic search | Data management | 
| Apache AirFlow| Data integration | 
| KubeFlow | Data integration | 
| Apache Kafka| Data integration | 
| Apache Nifi | Data integration | 
| Apache SparkSQL| Data integration |
| NodeRED| Data integration |
| Pixie Dust | Data Visualization |
| Kibana | Data Visualization | 
| Hue| Data Visualization | 
| Apache Superset| Data Visualization | 
| Apache PredictionIO | Model deployment |  
| Seldon | Model deployment |  
| Kubernetes | Model deployment |  
| Redhat OpenShift | Model deployment |   
| Mleap | Model deployment |  
| TensorFlow service | Model deployment |  
| TensorFlow lite | Model deployment |  
| TensorFlow dot JS | Model deployment |  
| ModelDB | Model montitoring |  
| Prometheus | Model montitoring |  
| IBM AI Fairness 360 | Model montitoring |  
| IBM Adversarial Robustness 360 Toolbox | Model montitoring |  
| IBM AI Explainability 360 | Model montitoring |  
| Prometheus | Model montitoring |

## Aritmetic expression - example

Below you will find of basic artthmetic operation

In [4]:
# Multiplication and addition
x = 4
y = 5
multiplication = x * y
addition = x + y
multiplication, addition

(20, 9)

In [6]:
# Conversion of minutes into hours
minutes = 150
hours = minutes / 60
hours

2.5

## Objectives

- Create a notebook
- Explore and learn data sciencel languages
- Explore and learn data science tools
- Write code to perform basic arithmetic operation

## Author

Ravi Kalaiarasan